.login {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url('../../assets/bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login .wrapper{
    height: auto;
    padding: 15px 3px;
    opacity: .9;
    box-shadow: 0 0 10px rgb(31, 30, 30);
    width: 27.5vw;
    filter: 100%;
    border-radius: .2rem;
     border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #faf9f9;
}
.login .wrapper > h2{
    color:rgb(59, 122, 138);
    text-align: center;
    margin: 2.5rem 0;
    font-size: 36px;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
}
.login form > input{
    width: 60%; 
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}
.login form > button{
    outline: none;
    background-color: rgb(124, 92, 155);
    color: #fff;
    border-radius: .2rem;
    padding: 0.5rem 2rem;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-top: 1rem;
}
.login form>button:hover{
    background-color: #fff;
    border-color: blue;
    color: blue;
}


@media screen and (max-width: 768px) {
    .login .wrapper{
        height: 62vh;
        width: 60vw;
        /* border-radius: 20px; */
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }
}