.register {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    /* background-image: url('../../assets/bg4.jfif'); */
    background-image: url('../../assets/bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.register .wrapper{
    height: auto;
    padding: 15px 3px;
    opacity: .9;
    box-shadow: 0 0 10px rgb(31, 30, 30);
    width: 27.5vw;
    filter: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f7f5f5;
}
.register .wrapper > h2{
    color: rgb(45, 103, 122);
    text-align: center;
    margin: 2.5rem 0;
    font-size: 36px;
}
.register form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}
.register form > input{
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}
.register form > button{
    filter:brightness(100%);
    outline: none;
    background-color: rgb(59, 122, 138);
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
}
.register form > button:hover{
    background-color: rgb(93, 170, 189);
    /* border-color: blue; */
    cursor: pointer;
    /* color: blue; */
}
.register form > p{
    text-align: center;
    color: rgb(18, 2, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register form > p > a{
    text-decoration: none;
    font-size: 17px;
    color: #6b0c6b;
    margin-top: 0.25rem;
}

@media screen and (max-width: 768px) {
    .register .wrapper{
        height: 70vh;
        width: 60vw;
    }
}