.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    margin: 1rem;
    margin-left: 3rem;
    height: auto;
    border-radius: 0.75rem;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgb(154, 167, 194) 0%,
      rgb(165, 188, 192) 100%
    );
  }
  
  .footer h2 {
    cursor: pointer;
  }
  
  .social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  
  .social-link {
    color: rgb(48, 42, 68);
    font-size: 2rem !important;
    transition: all 0.2s ease-in-out !important;
  }
  
  .social-link:hover {
    transform: scale(1.2);
  }
  
  .declaration{
    display: flex;
    justify-content: space-between;
    margin: 0rem 3rem;
  }
  .declaration p{
    color: var(--grey);
   background-color: black;

  }
  @media only screen and (max-width: 800px) {
    .footer {
      z-index: 1000;
      box-sizing: border-box;
    }
  
    .footer h2 {
      font-size: 1rem;
    }
  
    .social-links {
      gap: 0.5rem;
    }
    .social-link {
      font-size: 1rem !important;
    }
  }